.policy {
    font-size: 14px;
    padding: 50px 100px 0 100px;
    h2 {
        padding-top: 50px;
    }
    ul {
        margin-bottom: 50px;
        li {
            list-style-type: none;
            margin-left: 75px;
        }
    }
    mark {
        background-color: rgba(222, 233, 64, 0.26);
    }
}
